body{
    background-color: #282c34;
      color: white;
}

.para{
  max-width: 35%;
  font-size: x-large;
  color: aquamarine;
}
.App{
  justify-content: center;
}
.set{
  display: flex;
  gap: 5%;
  margin: 2% 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form{
  width: 40%;
}
label{
  font-size: 25px;
}
input,select{
  width: 100%;
  padding: 1vw;
  border-radius: 5px;
}
select{
  margin: 5%;
}
button{
  margin: 20px 30%;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 800;
  color: rgb(68, 109, 6);
}